/* Navigation CSS */

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.logo {
  font-family: 'Bungee';
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.fas {
  color: red;
}